
$primary-pale-blue: hsl(225, 100%, 94%);
$secundary-pale-blue: hsl(225, 100%, 98%);


$primary-color: hsl(245, 75%, 52%);
$primary-color-active: hsl(245, 83%, 68%);

$primary-font: hsl(223, 47%, 23%);
$primary-font-active: hsl(224, 23%, 55%);

$neutral-white: hsl(0, 0%, 100%);
$neutral-light-purple: hsl(267, 98%, 74%);

$primary-font-family:'Red Hat Display', sans-serif;